<div class="flex gap-x-3 items-center">
  <input class="rounded-md accent-indigo-500" type="checkbox" name="{{name}}" id="{{name}}">
  <label class="text-sm font-normal text-slate-500" for="{{name}}">{{label}}</label>
</div>
