<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ title || "Adnois Starter Kit" }}</title>
  <link rel="icon" type="image/svg" href="{{ asset('resources/images/logo.svg') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">

  @vite(['resources/css/app.css', 'resources/js/app.js', 'resources/images/logo.svg'])
  @if ($slots.meta)
  {{{ await $slots.meta() }}}
  @endif
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

</head>

<body class="font-sans selection:bg-indigo-500 selection:text-white">
  {{{ await $slots.main() }}}
</body>

</html>